.body {
    background-color: #eee;
}


button {
    
}

.push {
    padding: 15px 40px;
    font-size: 50px;
    line-height: 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 8px 10px #0002;

    color: solid;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    background-color: orange;
    display: flex;
    gap: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border-radius: 100px;
    padding-top: 80px;
    padding-bottom: 80px;
}
.push:hover {
    color: white;
    background-color: red;
}
.ispejimas {
    color: solid;
    font-size: 45px;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    gap: 20px;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.ispejimas2 {
    color: solid;
    font-size: 45px;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    gap: 20px;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: "----";
}

.push2 {
    color: solid;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(255, 238, 0);
    display: flex;
    gap: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border-radius: 200px;
    padding: 125px;

    cursor: pointer;
    box-shadow: 0 8px 10px #0002;
}
.push2:hover {
    background-color: orange;
}
.img {
    display: flex;
    gap: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border-radius: 200px;
    padding: 110px;
}

.ispejimas3 {
    color: solid;
    font-size: 45px;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    gap: 20px;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: "----";
}




/* toggle button */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
  
.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}
  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: yellowgreen;
    -webkit-transition: .4s;
    transition: .4s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
  
input:checked + .slider {
    background-color: red;
}
  
input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
  
/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}

.switch {
    display: flex;
    gap: 20px;
    position: absolute;
    top: 93%;
    left: 92%;
    transform: translate(-50%, -50%);
}
.toggle {
    display: flex;
    gap: 20px;
    position: absolute;
    top: 93%;
    left: 97%;
    transform: translate(-50%, -50%);
    font-size: 25px;
}
/* toggle button */


.push3 {
    padding: 15px 40px;
    font-size: 50px;
    line-height: 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 8px 10px #0002;

    color: solid;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    background-color: lightblue;
    display: flex;
    gap: 20px;
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    text-align: center;
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: black;
}
.push4 {
    padding: 15px 40px;
    font-size: 50px;
    line-height: 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 8px 10px #0002;

    color: solid;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    background-color: yellow;
    display: flex;
    gap: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: black;
}
.push5 {
    padding: 15px 40px;
    font-size: 50px;
    line-height: 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 8px 10px #0002;

    color: solid;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    background-color: green;
    display: flex;
    gap: 20px;
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    text-align: center;
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
}
.push3:hover, .push4:hover, .push5:hover {
    background: orange;
}
.push3:hover, .push4:hover {
    color: white;
}
.push5:hover {
    color: black;
}