.body {
    background-color: #eee;
}


button {
    padding: 15px 40px;
    font-size: 50px;
    line-height: 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 8px 10px #0002;
}
.push {
    color: solid;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    background-color: orange;
    display: flex;
    gap: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border-radius: 100px;
    padding-top: 80px;
    padding-bottom: 80px;
}
.push:hover {
    color: white;
    background-color: red;
}
.ispejimas {
    color: solid;
    font-size: 45px;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    gap: 20px;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.ispejimas2 {
    color: solid;
    font-size: 45px;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    gap: 20px;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: "----";
}

.push2 {
    color: solid;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(255, 238, 0);
    display: flex;
    gap: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border-radius: 200px;
    padding: 145px;
}
.push2:hover {
    background-color: orange;
}
.img {
    display: flex;
    gap: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border-radius: 200px;
    padding: 110px;
}